<div>
  <div class="row">
    <div class="twelve columns" id="form">
      <section>
        {{!-- <h3>Enter new tree here:</h3> --}}
        <form>
            <div>
                <label for="tree_name">Tree Name:</label>
                <input type="text" id="tree_name" />
            </div>
            <div>
                <label for="place">Place:</label>
                <input type="text" id="place" />
            </div>
            <div>
                <label for="lat">Lat:</label>
                <input type="text" id="lat" />
            </div>
            <div>
                <label for="longd">Long:</label>
                <input type="text" id="longd" />
            </div>
            <div>
                <label for="notes">Notes:</label>
                <textarea id="notes"></textarea>
            </div>
            <div class="button">
                <button id="add_button" >Add this tree</button>
            </div>
        </form>
        
      </section>
    </div>
  </div>

  this is add.hbs
  {{ message }}
</div>