<div>
  <div class="row">
    <div class="twelve columns" id="form">
      <section>
        {{!-- <h3>Enter new tree here:</h3> --}}
        <form>
            <div>
                <label for="tree_name">Tree Name:</label>
                <select class="u-full-width" id="tree_name">
                  <option value="Kahikatea">Kahikatea</option>
                  <option value="Matai">Matai</option>
                  <option value="Miro">Miro</option>
                  <option value="Rimu">Rimu</option>
                  <option value="Totara">Totara</option>
                </select>
                {{!-- <input type="text" id="tree_name" /> --}}
            </div>
            <div>
                <label for="place">Place:</label>
                <input type="text" id="place" />
            </div>
            <div id="testLat"></div>
            <div id="testLongd"></div>
            <div>
                <label for="lat">Lat:</label>
                <input type="text" id="lat" />
            </div>
            <div>
                <label for="longd">Long:</label>
                <input type="text" id="longd" />
            </div>
            <div>
                <label for="notes">Notes:</label>
                <textarea id="notes"></textarea>
            </div>
            <div class="button">
                <button id="add_button" >Add this tree</button>
            </div>
        </form>
        
      </section>
    </div>
  </div>
  <script>
  window.onload = function() {
    console.log("window has loaded")
    var startPos;
    document.getElementById('testLat').innerHTML = "THIS IS TEST LAT"
    var geoSuccess = function(position) {
      console.log("callback starting")
      startPos = position;
      console.log("startPos is: ", startPos)
      document.getElementById('testLat').innerHTML = startPos.coords.latitude;
      document.getElementById('testLongd').innerHTML = startPos.coords.longitude;
    };
    navigator.geolocation.getCurrentPosition(geoSuccess);
    console.log("finish")
  };
  </script>
  this is add.hbs
  {{ message }}
</div>