<div>
  {{ message }}
  <div id="form">
    <section>
      <form id="tree_form" action="/tree" method="post">
        <div class="row">
          <label for="tree_name">Tree Name:</label>
          <select class="u-full-width" id="tree_name" name="tree_name">
            <option value="Kahikatea">Kahikatea</option>
            <option value="Matai">Matai</option>
            <option value="Miro">Miro</option>
            <option value="Rimu" selected>Rimu</option>
            <option value="Totara">Totara</option>
          </select>
        </div>
        <div class="row">
          <label for="place">Place:</label>
          <input type="text" class="u-full-width" id="place" name="place" />
        </div>
        <div class="row">
          <label for="lat">Lat:</label>
          <input type="text" class="u-full-width" id="lat" name="lat" />
        </div>
        <div class="row">
          <label for="longd">Long:</label>
          <input type="text" class="u-full-width" id="longd" name="longd" />
        </div>
        <div class="row">
          <label for="notes">Notes:</label>
          <textarea class="u-full-width" id="notes" name="notes"></textarea>
        </div>
        <div class="row">
          <input type="submit" class="button-primary u-full-width" value="ADD THIS">
        </div>
      </form>
    </section>
  </div>
  <script>
    $(window).load(function() {
      var startPos;
      var geoSuccess = function(position) {
        startPos = position;
        document.getElementById('lat').value = startPos.coords.latitude;
        document.getElementById('longd').value = startPos.coords.longitude;
      };
      navigator.geolocation.getCurrentPosition(geoSuccess);
    })
  </script>
</div>