<div>
  <div class="row">
    <div class="twelve columns">
      <img id="rimu_fruit_photo" src="images/rimu_fruit.jpg" alt="A photo of some Rimu fruit" style="display: block; margin: auto; width: 100%">
    </div>
  </div>
  {{ message }}
  <div class="row">
    <a class="button button-primary u-full-width" href="/add">ADD</a>
  </div>
  <div class="row">
    <a class="button button-primary u-full-width" href="/show">SHOW</a>
  </div>
</div>

