<div>
  <div class="row">
    <div class="twelve columns">
      <div id="googleMap" style="width:300px;height:300px;"></div>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <h3>Trees found:</h3>
      <ul id="tree_list">
        <!-- <li>TREE: Rimu AT: 123 XYZ St.</li> -->
        <!-- <li>TREE: Totara AT: 456 ABC Rd. </li> -->
      </ul>
    </div>
  </div>

  this is show.hbs
  {{ message }}
</div>